body {
    background-image: url("kazakhstan-background-with-ornament-design-kazakhstan-independence-day-template-design-vector.jpg");
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover;

    .img1 {
        position: relative;
        top: 50px;
        left: 100px;
    }

    .img2 {
        position: relative;
        top: 400px;
        /* left: 50px; */
        right: 250px;
    }

    .img3 {
        position: relative;
        right: 400px;
        border: 5px Solid black;
    }

    .vid1 {
        position: relative;
        height: 300px;
        width: 100px;
        right: 700px;
        top: 100px;
    }
} 

