body {
    /* background-image: url("kazakhstan-background-with-ornament-design-kazakhstan-independence-day-template-design-vector.jpg");
    
    /* background-repeat: no-repeat; */
   
}
    /* .img1 {
        position: relative;
        top: 50px;
        left: auto;
        height: 500px;
        width: 250px;
    } */

    /* .img2 {
        position: relative;
        height: 300px;
        width: 180px;

    } */
    @media (max-width: 600px) { 
    .vid1 {
        position: relative;
        height: 300px;
        width: 100px;
        bottom: auto;
        left: auto;
    }
    }
    
    @media (max-width: 600px) { 
    .img3 {
        position: absolute;
        height: 300px;
        width: 200px;
        bottom: 100px;
    } }

    .p1 {
        position: relative;
        left: 50px;
        font-size: 3rem;
        
    }



       
    


