body {
    /* background-color: bisque; */
    background-image: url("back1.jpg.webp");
    /* background-position: center; */
    background-size: cover;
    background-repeat: no-repeat;
   

    .btn1 {
        padding: 8px 24px; 
        font-size: 20px;
        margin-top: 500px;
    }

    .button {
        display: flex;
        justify-content: center;
    }



    
    
}